mixin station(id, file, title)
  article(data-station data-id=id data-file=file data-title=title)
    div.panel.panel-primary
      header.panel-heading.text-center= title
      div.panel-body.text-center
        article: audio(name=title label=title data-station-id=id style='width: 100%; display: none' controls)
          source(type='application/vnd.apple.mpegurl' src=file)
        article: div(id=id style='display: none')
      section(data-schedule-table-id=id)