mixin station(id, file, image, title, autoStart, schedule)
  if file
    script window.saudiRadios.registerStation('#{id}', '#{file}', '#{image}', '#{title}', #{autoStart})
  //- TODO: remove <script> and move parameters to data-* attributes
  article
    div.panel.panel-primary
      header.panel-heading.text-center= title
      div.panel-body.text-center
        article: audio(name=title label=title data-station-id=id style='width: 100%; display: none' controls)
          source(type='application/vnd.apple.mpegurl' src=file)
        article: div(id=id style='display: none')
      section(data-schedule-table-id=id)